<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Добавить нового докладчика</h1>
    <form class="grid gap-2" @submit.prevent="onSubmit">
      <InputText name="lastName" label="Фамилия:" />
      <InputText name="firstName" label="Имя:" />
      <InputText name="surname" label="Отчество:" />
      <InputText name="photo" label="Ссылка на фото:" />
      <TextArea name="speakerInfo" label="Информация о докладчике:" />
      <ButtonBase type="submit" class="text-white">Добавить докладчика</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import InputText from '@/components/base/InputText.vue';
import TextArea from '@/components/base/TextArea.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { URL_PATTERN } from '@/utils/validation';
import { useSpeakerStore } from '@/stores/speakers';

const speakerStore = useSpeakerStore();

const schema = toTypedSchema(
  yup.object({
    lastName: yup.string().required(),
    firstName: yup.string().required(),
    surname: yup.string().required(),
    photo: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!'),
    speakerInfo: yup.string().required()
  })
);
const { handleSubmit } = useForm({
  validationSchema: schema
});

const onSubmit = handleSubmit(async (values) => {
  try {
    await speakerStore.createItem(values);
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
