<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Удалить докладчика</h1>
    <form class="grid gap-2" @submit.prevent="onSubmit">
      <SelectBase
        name="speakerID"
        label="Докладчик:"
        :options="speakerStore.list"
        labelField="fullName"
        :value="values.speakerID"
      />
      <ButtonBase type="submit" class="text-white">Удалить докладчика</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import SelectBase from '@/components/base/SelectBase.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { useSpeakerStore } from '@/stores/speakers';

const speakerStore = useSpeakerStore();

await speakerStore.getList();

const schema = toTypedSchema(
  yup.object({
    speakerID: yup.number().required()
  })
);
const { values, handleSubmit, resetForm } = useForm({
  validationSchema: schema
});

const onSubmit = handleSubmit(async (values) => {
  try {
    await speakerStore.deleteItem(values.speakerID);
    resetForm();
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
