<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Изменить информацию о докладчике</h1>
    <SelectBase
      name="speaker"
      label="Докладчик:"
      :options="speakerStore.list"
      labelField="fullName"
      :returnObject="true"
      @update:value="onSelectSpeaker"
      :value="values.speaker"
    />
    <form class="grid grid-cols-2 gap-2" @submit.prevent="onSubmit">
      <InputText name="lastName" label="Фамилия:" class="col-span-2" />
      <InputText name="firstName" label="Имя:" class="col-span-2" />
      <InputText name="surname" label="Отчество:" class="col-span-2" />
      <InputText name="photo" label="Ссылка на фото:" />
      <TextArea name="speakerInfo" label="Информация о докладчике:" class="col-span-2" />
      <ButtonBase type="submit" class="text-white col-span-2">Изменить информацию</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import InputText from '@/components/base/InputText.vue';
import TextArea from '@/components/base/TextArea.vue';
import SelectBase from '@/components/base/SelectBase.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { useSpeakerStore } from '@/stores/speakers';
import type { SpeakerItem } from '@/typings';
const speakerStore = useSpeakerStore();

await speakerStore.getList();

const URL_PATTERN =
  /((https?):\/\/)?(www.)?[a-z0-9]+(\.[a-z]{2,}){1,3}(#?\/?[a-zA-Z0-9#]+)*\/?(\?[a-zA-Z0-9-_]+=[a-zA-Z0-9-%]+&?)?$/;
const schema = toTypedSchema(
  yup.object({
    speaker: yup.object<SpeakerItem>().required(),
    lastName: yup.string().required(),
    firstName: yup.string().required(),
    surname: yup.string().required(),
    photo: yup.string().required().matches(URL_PATTERN, 'Введите корректную ссылку!'),
    speakerInfo: yup.string().required()
  })
);
const { values, handleSubmit, setValues, resetForm } = useForm({
  validationSchema: schema
});

const onSelectSpeaker = (value: SpeakerItem | null) => {
  resetForm();
  if (value) {
    setValues(value);
  }
};

const onSubmit = handleSubmit(async (values) => {
  try {
    if (!('id' in values.speaker)) {
      throw new Error('Не найден ключ id в объекте SpeakerItem');
    }
    await speakerStore.updateItem(values.speaker.id as number, values);
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
