<template>
  <div
    class="flex flex-col justify-center items-center gap-2 border border-blue-400 rounded bg-white p-4"
  >
    <div class="h3"><slot name="title"></slot></div>
    <div class="flex gap-2">
      <RouterLink class="link-button" :to="{ name: `${link}-create` }">Создать</RouterLink>
      <RouterLink class="link-button" :to="{ name: `${link}-update` }">Изменить</RouterLink>
      <RouterLink class="link-button" :to="{ name: `${link}-delete` }">Удалить</RouterLink>
    </div>
  </div>
</template>

<script lang="ts" setup>
defineProps({
  link: { type: String, required: true }
});
</script>

<style scoped>
.link-button {
  @apply border-2 border-blue-400 min-w-[120px] text-center;
}
</style>
