<template>
  <div class="card">
    <div class="h2 text-left">{{ report.title }}</div>
    <div class="p text-left">{{ report.description }}</div>
    <div class="p text-left" v-if="report.speaker">
      <strong>Докладчик:</strong> {{ report.speaker.fullName }}
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex gap-2">
        <a
          v-if="report.presentationLink"
          :href="report.presentationLink"
          class="button text-center text-white w-[50%]"
          target="_blank"
          rel="noopener noreferrer"
        >
          Презентация
        </a>
        <a
          v-if="report.videoLink"
          :href="report.videoLink"
          class="button text-center text-white w-[50%]"
          target="_blank"
          rel="noopener noreferrer"
        >
          Видео
        </a>
      </div>
      <RouterLink
        class="button mt-2 text-center text-white"
        :to="{ name: 'reports-details', params: { id: report.id } }"
      >
        Подробнее
      </RouterLink>
    </div>
  </div>
</template>

<script lang="ts" setup>
import type { PropType } from 'vue';
import type { ReportDetails } from '@/typings';

defineProps({
  report: { type: Object as PropType<ReportDetails>, required: true }
});
</script>
