<template>
  <div class="w-full flex flex-col items-center gap-8" v-if="meet">
    <div class="h1">{{ meet.title }}</div>
    <div class="p">{{ formatDate(meet.date) }}</div>
    <div class="p">{{ meet.description }}</div>
    <a
      v-if="meet.registrationForm"
      :href="meet.registrationForm"
      class="button text-center text-white w-[50%]"
      target="_blank"
      rel="noopener noreferrer"
    >
      Регистрация
    </a>
    <div class="w-full grid gap-6 sm:grid-cols-2 lg:grid-cols-2">
      <CardItem :report="report" v-for="report in meet.reports" :key="report.id" />
    </div>
  </div>
  <div v-else>
    <div class="p">Митапа не существует</div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import type { MeetDetails } from '@/typings';
import { formatDate } from '@/utils/date';
import CardItem from '@/components/reports/CardItem.vue';
import { useMeetStore } from '@/stores/meets';

const props = defineProps({
  id: {
    type: String,
    required: true
  }
});

const meet = ref<MeetDetails | null>(null);

const meetStore = useMeetStore();

try {
  meet.value = await meetStore.getItem(props.id);
} catch (error) {
  console.error('Ошибка загрузки митапа:', error);
}
</script>
