<template>
  <div>
    <div class="py-4 px-4 text-center">
      <h1 class="h1">Архив митапов</h1>
    </div>
    <div class="w-full flex flex-col gap-6">
      <div class="flex justify-between items-center gap-2">
        <input
          v-model="searchQuery"
          type="text"
          placeholder="Поиск по заголовку митапа"
          class="input"
        />
        <button @click="resetFilters" class="button text-white">Сбросить фильтры</button>
      </div>
      <div class="flex justify-between items-center gap-2">
        <label for="filterDate" class="min-w-[128px]">Фильтр по дате:</label>
        <input
          v-model="selectedDate"
          type="text"
          id="filterDate"
          class="input"
          placeholder="YYYY-MM-DD - YYYY-MM-DD"
        />
      </div>
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-2">
        <CardItem :meet="meet" v-for="meet in filteredMeetups" :key="meet.id" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useMeetStore } from '@/stores/meets';
import type { MeetItem } from '@/typings';
import { ref, computed, watch } from 'vue';
import CardItem from '@/components/meets/CardItem.vue';

const meetStore = useMeetStore();

await meetStore.getList();

const searchQuery = ref('');
const selectedDate = ref('');
const startDate = ref('');
const endDate = ref('');

const filteredMeetups = computed(() => {
  let filtered: MeetItem[] = meetStore.list;

  if (searchQuery.value) {
    const query = searchQuery.value.toLowerCase();
    filtered = filtered.filter((meetup) => meetup.title.toLowerCase().includes(query));
  }

  if (startDate.value && endDate.value) {
    filtered = filtered.filter((meetup) =>
      isBetweenDates(meetup.date, startDate.value, endDate.value)
    );
  }

  return filtered.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
});

function resetFilters() {
  searchQuery.value = '';
  selectedDate.value = '';
  startDate.value = '';
  endDate.value = '';
}

function isBetweenDates(date: string, start: string, end: string) {
  const meetupDate = new Date(date);
  const startDate = new Date(start);
  const endDate = new Date(end);

  return meetupDate >= startDate && meetupDate <= endDate;
}

function updateDates() {
  const [start, end] = selectedDate.value.split(' - ');
  startDate.value = start;
  endDate.value = end;
}
watch(() => selectedDate.value, updateDates);
</script>
