<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Добавить новый доклад</h1>
    <form class="grid grid-cols-2 gap-2" @submit.prevent="onSubmit">
      <InputText name="title" label="Заголовок:" class="col-span-2" />
      <TextArea name="description" label="Описание:" class="col-span-2" />
      <SelectBase
        name="meetupID"
        label="Митап:"
        :options="meetStore.list"
        keyField="id"
        labelField="title"
        :value="values.meetupID"
      />
      <SelectBase
        name="speakerID"
        label="Докладчик:"
        :options="speakerStore.list"
        keyField="id"
        labelField="fullName"
        :value="values.speakerID"
      />
      <InputText name="order" type="number" label="Порядок:" />
      <InputText name="presentationLink" label="Ссылка на презентацию:" />
      <InputText name="videoLink" label="Ссылка на видео:" />
      <ButtonBase type="submit" class="text-white col-span-2">Добавить доклад</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import InputText from '@/components/base/InputText.vue';
import SelectBase from '@/components/base/SelectBase.vue';
import TextArea from '@/components/base/TextArea.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { useMeetStore } from '@/stores/meets';
import { useSpeakerStore } from '@/stores/speakers';
import { URL_PATTERN } from '@/utils/validation';
import { useReportStore } from '@/stores/reports';

const meetStore = useMeetStore();
const speakerStore = useSpeakerStore();
const reportStore = useReportStore();

await meetStore.getList();
await speakerStore.getList();

const schema = toTypedSchema(
  yup.object({
    title: yup.string().required(),
    description: yup.string().required(),
    meetupID: yup.number().required(),
    speakerID: yup.number().required(),
    order: yup.number().required(),
    presentationLink: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!'),
    videoLink: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!')
  })
);
const { values, handleSubmit } = useForm({
  validationSchema: schema
});

const onSubmit = handleSubmit(async (values) => {
  try {
    await reportStore.createItem(values);
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
