<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Удалить доклад</h1>
    <form class="grid gap-2" @submit.prevent="onSubmit">
      <SelectBase
        name="reportID"
        label="Доклад:"
        :options="reportStore.list"
        labelField="title"
        :value="values.reportID"
      />
      <ButtonBase type="submit" class="text-white">Удалить доклад</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import SelectBase from '@/components/base/SelectBase.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { useReportStore } from '@/stores/reports';

const reportStore = useReportStore();

await reportStore.getList();

const schema = toTypedSchema(
  yup.object({
    reportID: yup.number().required()
  })
);
const { values, handleSubmit, resetForm } = useForm({
  validationSchema: schema
});

const onSubmit = handleSubmit(async (values) => {
  try {
    await reportStore.deleteItem(values.reportID);
    resetForm();
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
