<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Изменить доклад</h1>
    <SelectBase
      name="report"
      label="Доклад:"
      :options="reportStore.list"
      labelField="title"
      :returnObject="true"
      @update:value="onSelectReport"
      :value="values.report"
    />
    <form class="grid grid-cols-2 gap-2" @submit.prevent="onSubmit">
      <InputText name="title" label="Заголовок:" class="col-span-2" />
      <TextArea name="description" label="Описание:" class="col-span-2" />
      <SelectBase
        name="meetupID"
        label="Митап:"
        :options="meetStore.list"
        keyField="id"
        labelField="title"
        :value="values.meetupID"
      />
      <SelectBase
        name="speakerID"
        label="Докладчик:"
        :options="speakerStore.list"
        keyField="id"
        labelField="fullName"
        :value="values.speakerID"
      />
      <InputText name="order" type="number" label="Порядок:" />
      <InputText name="presentationLink" label="Ссылка на презентацию:" />
      <InputText name="videoLink" label="Ссылка на видео:" />
      <ButtonBase type="submit" class="text-white col-span-2">Изменить доклад</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import InputText from '@/components/base/InputText.vue';
import SelectBase from '@/components/base/SelectBase.vue';
import TextArea from '@/components/base/TextArea.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { useMeetStore } from '@/stores/meets';
import { useSpeakerStore } from '@/stores/speakers';
import { URL_PATTERN } from '@/utils/validation';
import { useReportStore } from '@/stores/reports';
import type { ReportItem } from '@/typings';

const meetStore = useMeetStore();
const speakerStore = useSpeakerStore();
const reportStore = useReportStore();

await meetStore.getList();
await speakerStore.getList();
await reportStore.getList();

const schema = toTypedSchema(
  yup.object({
    report: yup.object<ReportItem>().required(),
    title: yup.string().required(),
    description: yup.string().required(),
    meetupID: yup.number().required(),
    speakerID: yup.number().required(),
    order: yup.number().required(),
    presentationLink: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!'),
    videoLink: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!')
  })
);
const { values, handleSubmit, setValues, resetForm } = useForm({
  validationSchema: schema
});

const onSelectReport = (value: ReportItem | null) => {
  resetForm();
  if (value) {
    setValues({ ...value, meetupID: value.meetup?.id, speakerID: value.speaker?.id });
  }
};

const onSubmit = handleSubmit(async (values) => {
  try {
    if (!('id' in values.report)) {
      throw new Error('Не найден ключ id в объекте ReportItem');
    }
    await reportStore.updateItem(values.report.id as number, values);
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
