<template>
  <div class="flex items-center justify-center h-full">
    <div class="flex flex-col gap-8">
      <div class="h1 text-center">Ближайший митап</div>
      <CardItem :meet="meetStore.lastMeet" v-if="meetStore.lastMeet" />
      <div v-else>
        <p>Нет текущего митапа</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useMeetStore } from '../stores/meets';
const meetStore = useMeetStore();
await meetStore.getLastStartedMeetIfExist();
import CardItem from '@/components/meets/CardItem.vue';
</script>
