<template>
  <div class="card">
    <h2 class="h2">{{ meet.title }}</h2>
    <p class="p text-left">{{ meet.description }}</p>

    <RouterLink
      class="button mt-2 text-center text-white"
      :to="{ name: 'meets-details', params: { id: meet.id } }"
    >
      Подробнее
    </RouterLink>
    <p class="p text-right">Дата: {{ formatDate(meet.date) }}</p>
  </div>
</template>

<script lang="ts" setup>
import type { MeetItem } from '@/typings';
import { formatDate } from '@/utils/date';
import type { PropType } from 'vue';
defineProps({
  meet: { type: Object as PropType<MeetItem>, required: true }
});
</script>
