<template>
  <button class="button" :type="type">
    <slot></slot>
  </button>
</template>

<script lang="ts" setup>
import type { PropType } from 'vue';

defineProps({
  type: { type: String as PropType<'button' | 'submit' | 'reset'>, default: 'button' }
});
</script>
