<template>
  <div>
    <label class="block font-semibold" :for="name" v-if="label !== undefined">{{ label }}</label>
    <input class="input" v-model="value" :type="type || 'text'" :id="name" />
    <div class="error">{{ errorMessage }}</div>
  </div>
</template>

<script lang="ts" setup>
import { useField } from 'vee-validate';

const props = defineProps({
  name: { type: String, required: true },
  type: String,
  label: String
});

const { value, errorMessage } = useField(() => props.name);
</script>
