<template>
  <div>
    <label class="block font-semibold" :for="name" v-if="label !== undefined">{{ label }}</label>
    <div>
      <div
        class="flex gap-2 input bg-white min-h-[34px] relative"
        @click="() => (isOpen = !isOpen)"
      >
        <div v-if="selected && value !== null">
          {{ selected[labelField] }}
        </div>
        <div class="absolute gap-2 right-2">
          <div class="flex gap-2">
            <div @click="() => updateValue(null)" v-if="selected">✖</div>
            <div class="select-none">
              {{ isOpen ? '▲' : '▼' }}
            </div>
          </div>
        </div>
      </div>
      <div class="relative">
        <div
          class="absolute bg-white border w-full max-h-[200px] overflow-auto flex flex-col gap-2 items-center rounded z-20"
          v-if="isOpen"
        >
          <input type="text" class="input" placeholder="Поиск" v-model="search" />
          <div
            :class="{ 'bg-blue-200': option === selected }"
            class="w-full px-2"
            v-for="option in filterOptions"
            :key="option[keyField]"
            @click="() => updateValue(option)"
          >
            {{ option[labelField] }}
          </div>
          <div v-if="filterOptions.length === 0">Ничего не найдено</div>
        </div>
      </div>
    </div>
    <div class="error">{{ errorMessage }}</div>
  </div>
</template>

<script lang="ts" setup>
import { useField } from 'vee-validate';
import { ref, type PropType, computed, watch } from 'vue';

const props = defineProps({
  name: { type: String, required: true },
  label: String,
  keyField: { type: String, default: 'id' },
  labelField: { type: String, required: true },
  options: { type: Array as PropType<Record<string, any>[]>, required: true },
  returnObject: { type: Boolean, default: false },
  value: {
    type: [Object, Number, String, null] as PropType<Record<string, any> | Number | String | null>,
    default: null
  }
});

const emits = defineEmits(['update:value']);

const { errorMessage, handleChange } = useField(() => props.name);

const isOpen = ref(false);

const selected = ref<Record<string, any> | null>(null);

const search = ref('');

const filterOptions = computed(() => {
  return props.options.filter((option) =>
    (option[props.labelField] as string)
      .toLocaleLowerCase()
      .includes(search.value.toLocaleLowerCase())
  );
});

const returnValue = (value: any) => {
  if (props.returnObject) {
    return value;
  }
  return value !== null ? value[props.keyField] : null;
};

const updateValue = (newValue: any) => {
  emits('update:value', returnValue(newValue));
  selected.value = newValue;
  handleChange(returnValue(newValue));
  isOpen.value = false;
};

watch(props, () => {
  if (props.value) {
    if (typeof props.value === 'object') {
      selected.value = props.value;
    } else {
      const defaultValue = props.options.find((option) => option[props.keyField] === props.value);
      selected.value = defaultValue ? defaultValue : null;
    }
  }
});
</script>
