<template>
  <div>
    <label class="block font-semibold" :for="name" v-if="label !== undefined">{{ label }}</label>
    <textarea class="input" :id="name" v-model="value"></textarea>
    <div class="error">{{ errorMessage }}</div>
  </div>
</template>

<script lang="ts" setup>
import { useField } from 'vee-validate';
import type { Ref } from 'vue';

const props = defineProps({
  name: { type: String, required: true },
  label: String
});

const { value, errorMessage } = useField(() => props.name) as unknown as {
  value: Ref<string>;
  errorMessage: Ref<string | undefined>;
};
</script>
