<template>
  <div class="flex flex-col justify-center items-center gap-4 mt-4">
    <div class="h2">Управление сайтом</div>
    <div class="flex gap-2">
      <EntitySection link="meets">
        <template v-slot:title>Митапы</template>
      </EntitySection>
      <EntitySection link="reports">
        <template v-slot:title>Доклады</template>
      </EntitySection>
      <EntitySection link="speakers">
        <template v-slot:title>Докладчики</template>
      </EntitySection>
    </div>
  </div>
</template>

<script lang="ts" setup>
import EntitySection from '@/components/admin/home/EntitySection.vue';
</script>
