<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Добавить новый митап</h1>
    <form class="grid grid-cols-2 gap-2" @submit.prevent="onSubmit">
      <InputText name="title" label="Название:" class="col-span-2" />
      <TextArea name="description" label="Описание:" class="col-span-2" />
      <InputText name="date" type="datetime-local" label="Дата и время:" />
      <InputText name="broadcastLink" label="Ссылка на трансляцию:" />
      <InputText name="broadcastLogin" label="Логин трансляции:" />
      <InputText name="broadcastPassword" type="password" label="Пароль трансляции:" />
      <InputText name="countListener" type="number" label="Количество слушателей:" />
      <InputText name="registrationForm" label="Ссылка на форму регистрации:" />
      <ButtonBase type="submit" class="text-white col-span-2">Создать митап</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import InputText from '@/components/base/InputText.vue';
import TextArea from '@/components/base/TextArea.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { URL_PATTERN } from '@/utils/validation';
import { useMeetStore } from '@/stores/meets';

const meetStore = useMeetStore();

const schema = toTypedSchema(
  yup.object({
    title: yup.string().required(),
    description: yup.string().required(),
    date: yup.string().required(),
    broadcastLink: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!'),
    broadcastLogin: yup.string().required(),
    broadcastPassword: yup.string().required(),
    countListener: yup.number().required(),
    registrationForm: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!')
  })
);
const { handleSubmit } = useForm({
  validationSchema: schema
});

const onSubmit = handleSubmit(async (values) => {
  try {
    const date = values.date !== '' ? new Date(values.date).toISOString() : '';
    await meetStore.createItem({
      ...values,
      date
    });
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
