<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Удалить митап</h1>
    <form class="grid gap-2" @submit.prevent="onSubmit">
      <SelectBase
        name="meetID"
        label="Митап:"
        :options="meetStore.list"
        labelField="title"
        :value="values.meetID"
      />
      <ButtonBase type="submit" class="text-white">Удалить митап</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import SelectBase from '@/components/base/SelectBase.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { useMeetStore } from '@/stores/meets';

const meetStore = useMeetStore();

await meetStore.getList();

const schema = toTypedSchema(
  yup.object({
    meetID: yup.number().required()
  })
);
const { values, handleSubmit, resetForm } = useForm({
  validationSchema: schema
});

const onSubmit = handleSubmit(async (values) => {
  try {
    await meetStore.deleteItem(values.meetID);
    resetForm();
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
