<template>
  <div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4">Изменить митап</h1>
    <SelectBase
      name="meet"
      label="Митап:"
      :options="meetStore.list"
      labelField="title"
      :returnObject="true"
      :value="values.meet"
      @update:value="onSelectMeetup"
    />
    <form class="grid grid-cols-2 gap-2" @submit.prevent="onSubmit">
      <InputText name="title" label="Название:" class="col-span-2" />
      <TextArea name="description" label="Описание:" class="col-span-2" />
      <InputText name="date" type="datetime-local" label="Дата и время:" />
      <InputText name="broadcastLink" label="Ссылка на трансляцию:" />
      <InputText name="broadcastLogin" label="Логин трансляции:" />
      <InputText name="broadcastPassword" type="password" label="Пароль трансляции:" />
      <InputText name="countListener" type="number" label="Количество слушателей:" />
      <InputText name="registrationForm" label="Ссылка на форму регистрации:" />
      <ButtonBase type="submit" class="text-white col-span-2">Изменить митап</ButtonBase>
    </form>
  </div>
</template>

<script setup lang="ts">
import InputText from '@/components/base/InputText.vue';
import SelectBase from '@/components/base/SelectBase.vue';
import TextArea from '@/components/base/TextArea.vue';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import * as yup from 'yup';
import ButtonBase from '@/components/base/ButtonBase.vue';
import { useMeetStore } from '@/stores/meets';
import type { MeetItem } from '@/typings';
import { URL_PATTERN } from '@/utils/validation';
const meetStore = useMeetStore();

await meetStore.getList();

const schema = toTypedSchema(
  yup.object({
    meet: yup.object<MeetItem>().required(),
    title: yup.string().required(),
    description: yup.string().required(),
    date: yup.string().required(),
    broadcastLink: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!'),
    broadcastLogin: yup.string().required(),
    broadcastPassword: yup.string().required(),
    countListener: yup.number().required(),
    registrationForm: yup.string().required().matches(URL_PATTERN, 'Введите корректный URL!')
  })
);
const { values, handleSubmit, setValues, resetForm } = useForm({
  validationSchema: schema
});

const formatDateToISOString = (date: Date) => {
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, '0');
  const day = String(date.getDate()).padStart(2, '0');
  const hours = String(date.getHours()).padStart(2, '0');
  const minutes = String(date.getMinutes()).padStart(2, '0');

  return `${year}-${month}-${day}T${hours}:${minutes}`;
};

const onSelectMeetup = (value: MeetItem | null) => {
  resetForm();
  if (value) {
    setValues({
      ...value,
      date: formatDateToISOString(new Date(value.date))
    });
  }
};

const onSubmit = handleSubmit(async (values) => {
  try {
    const date = values.date !== '' ? new Date(values.date).toISOString() : '';
    if (!('id' in values.meet)) {
      throw new Error('Не найден ключ id в объекте MeetItem');
    }
    await meetStore.updateItem(values.meet.id as number, {
      ...values,
      date
    });
    alert('Сохранено');
  } catch (error) {
    alert('Не удалось сохранить');
    console.error(error);
  }
});
</script>
