@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-color: #4790c0;
  }
  .gradient {
    background-image: linear-gradient(270.47deg, var(--accent-color) 0.14%, #0e3d75 96.58%);
  }

  html {
    @apply text-white font-bold font-jura bg-bg-color;
  }

  #app {
    @apply min-h-screen flex flex-col gap-10;
  }

  main {
    @apply text-black font-bold font-jura bg-bg-color;
  }

  .h1 {
    @apply text-[40px] leading-[48px];
  }

  .h2 {
    @apply text-[32px] leading-[38px];
  }

  .h3 {
    @apply text-[24px] leading-[28px] text-center;
  }

  .p {
    @apply font-normal text-[16px] leading-[19px] text-center;
  }

  .button {
    @apply text-[16px] leading-[19px] bg-accent-color py-[8px] px-[24px] rounded-[24px] hover:shadow-md active:bg-white active:text-main-text-invert-color;
  }
  .error {
    @apply text-red-400;
  }

  .input {
    @apply border rounded px-2 py-1 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .card {
    @apply flex flex-col justify-between gap-4 border p-4 rounded bg-white min-h-[240px];
  }
}
