<template>
  <svg width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M57 29.5032C57 31.3363 56.8224 33.1314 56.4798 34.863C56.245 36.0618 55.9278 37.2289 55.5408 38.3643C54.8619 40.3497 53.9674 42.2335 52.8825 43.9842C52.0133 45.386 51.0172 46.7053 49.9196 47.9232C48.822 49.141 47.5722 50.2955 46.2462 51.3167C44.9202 52.3379 43.4229 53.283 41.8748 54.0632C40.4854 54.7609 39.0325 55.3508 37.5226 55.8075C36.0126 56.2642 34.5343 56.5814 32.9736 56.778C31.8379 56.9239 30.6769 56.9937 29.5032 56.9937C26.6672 56.9937 23.9328 56.5623 21.3632 55.7695C19.6376 55.2367 17.9817 54.5326 16.4146 53.689C15.0061 52.9278 13.6674 52.0398 12.4239 51.0503C11.4278 50.2574 10.4889 49.4011 9.60699 48.4814C7.89399 46.6863 6.42208 44.6629 5.24201 42.4555C4.6266 41.3138 4.09367 40.1213 3.64956 38.8844C3.142 37.4953 2.74864 36.0491 2.46949 34.5649C2.16496 32.922 2 31.2221 2 29.4905C2 28.0062 2.12054 26.5537 2.3426 25.1329C2.46314 24.378 2.61541 23.6359 2.79306 22.9065C3.3133 20.7816 4.08098 18.7582 5.06437 16.8616C5.73688 15.5613 6.5109 14.3181 7.38009 13.151C8.43961 11.7238 9.63237 10.3981 10.9393 9.20563C12.1004 8.14001 13.3566 7.17587 14.6889 6.32591C15.7928 5.62184 16.9475 4.99389 18.1466 4.44839C20.0246 3.59843 22.0167 2.95145 24.0914 2.53281C25.8424 2.18395 27.6443 2 29.4968 2C31.0132 2 32.5041 2.12052 33.9506 2.36155C35.4162 2.60258 36.8374 2.95145 38.2141 3.41449C40.7836 4.27079 43.1818 5.50133 45.3516 7.02999C46.9758 8.17806 48.4731 9.4974 49.8117 10.9626C51.4169 12.7196 52.8 14.686 53.9039 16.8172C55.0142 18.9484 55.8517 21.2383 56.3719 23.6549C56.7779 25.5388 56.9937 27.4924 56.9937 29.4968L57 29.5032Z"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M12.4176 51.0566L12.1067 40.9015L4.42358 40.819"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M21.3569 55.7758L21.2935 33.0616H9.79733"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M29.4968 2.00634V29.5032L41.1896 22.9192"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M53.9039 16.8236H43.4863L43.3658 12.9353"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M2.33626 25.1455L22.8923 24.9997L22.9303 2.79922"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M53.9039 42.2208L30.0107 42.3985L30.1313 57"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M57 29.5032H42.4014L42.2809 35.6305"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M37.5162 55.8139V51.2406"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M10.933 9.21198V15.4408V19.6462H16.5161"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M43.3658 12.9416C44.4134 12.9416 45.2628 12.0925 45.2628 11.0451C45.2628 9.99766 44.4134 9.14854 43.3658 9.14854C42.3181 9.14854 41.4688 9.99766 41.4688 11.0451C41.4688 12.0925 42.3181 12.9416 43.3658 12.9416Z"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M42.2809 39.4236C43.3285 39.4236 44.1779 38.5745 44.1779 37.527C44.1779 36.4796 43.3285 35.6305 42.2809 35.6305C41.2332 35.6305 40.3839 36.4796 40.3839 37.527C40.3839 38.5745 41.2332 39.4236 42.2809 39.4236Z"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M18.4131 21.5427C19.4608 21.5427 20.3101 20.6936 20.3101 19.6462C20.3101 18.5987 19.4608 17.7496 18.4131 17.7496C17.3654 17.7496 16.5161 18.5987 16.5161 19.6462C16.5161 20.6936 17.3654 21.5427 18.4131 21.5427Z"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M7.90035 34.9581C8.94802 34.9581 9.79734 34.109 9.79734 33.0616C9.79734 32.0141 8.94802 31.165 7.90035 31.165C6.85267 31.165 6.00336 32.0141 6.00336 33.0616C6.00336 34.109 6.85267 34.9581 7.90035 34.9581Z"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M37.5162 51.2406C38.5639 51.2406 39.4132 50.3915 39.4132 49.344C39.4132 48.2966 38.5639 47.4475 37.5162 47.4475C36.4685 47.4475 35.6192 48.2966 35.6192 49.344C35.6192 50.3915 36.4685 51.2406 37.5162 51.2406Z"
      stroke-width="2.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
