<template>
  <NavBar :mobile="mobile" />
  <Suspense>
    <RouterView v-slot="{ Component }">
      <template v-if="Component">
        <Suspense timeout="0">
          <template #default>
            <main class="mx-auto pb-20">
              <component class="xl:w-[1280px]" :is="Component" :key="$route.path" />
            </main>
          </template>
          <template #fallback>
            <LoaderIcon />
          </template>
        </Suspense>
      </template>
    </RouterView>
  </Suspense>
  <FooterMain />
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import FooterMain from './components/base/FooterMain.vue';
import LoaderIcon from './components/base/LoaderIcon.vue';
import NavBar from './components/base/NavBar.vue';
const windowWidth = ref<number | null>(null);
const mobile = ref(false);

const checkScreen = () => {
  windowWidth.value = window.innerWidth;
  if (windowWidth.value <= 750) {
    mobile.value = true;
    return;
  }
  mobile.value = false;
  return;
};

window.addEventListener('resize', checkScreen);
checkScreen();
</script>
