<template>
  <div class="flex justify-between items-center w-full">
    <div class="grid grid-cols-2 gap-2 w-full" v-if="report">
      <div class="flex-center flex-col gap-2">
        <img
          :src="report.speaker.photo"
          alt="Speaker"
          class="w-[400px] h-[400px] rounded-full"
          v-if="report.speaker?.photo"
        />
        <div class="w-[400px] h-[400px] rounded-full bg-black" v-else />
        <RouterLink
          class="button text-center text-white"
          :to="{ name: 'speakers-details', params: { id: report.speaker.id } }"
          v-if="report.speaker"
        >
          {{ report.speaker.fullName }}
        </RouterLink>
      </div>
      <div class="flex flex-col gap-2 justify-between">
        <div class="h1">{{ report.title }}</div>
        <div class="p text-left">{{ report.description }}</div>
        <div class="flex flex-col gap-2">
          <RouterLink
            class="button text-center text-white"
            :to="{ name: 'meets-details', params: { id: report.meetup.id } }"
            v-if="report.meetup"
          >
            {{ report.meetup.title }}
          </RouterLink>
          <div class="flex gap-2">
            <a
              v-if="report.presentationLink"
              :href="report.presentationLink"
              class="button text-white text-center w-[50%]"
              target="_blank"
            >
              Презентация
            </a>
            <a
              v-if="report.videoLink"
              :href="report.videoLink"
              class="button text-white text-center w-[50%]"
              target="_blank"
            >
              Видео
            </a>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="p">Доклада не существует</div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useReportStore } from '@/stores/reports';
import type { ReportDetails } from '@/typings';
import { ref } from 'vue';

const props = defineProps({
  id: {
    type: String,
    required: true
  }
});

const reportStore = useReportStore();

const report = ref<ReportDetails | null>(null);
try {
  report.value = await reportStore.getItem(props.id);
} catch (error) {
  console.error('Ошибка загрузки доклада:', error);
}
</script>
