<template>
  <div>
    <div class="py-4 px-4 text-center">
      <h1 class="h1">Архив докладов</h1>
    </div>
    <div class="w-full flex flex-col gap-6">
      <div class="flex justify-between items-center gap-2">
        <input
          v-model="searchQuery"
          type="text"
          placeholder="Поиск по заголовку доклада"
          class="input"
        />
        <button @click="resetFilters" class="button text-white">Сбросить фильтры</button>
      </div>
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-2">
        <CardItem :report="report" v-for="report in filteredReports" :key="report.id" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import CardItem from '@/components/reports/CardItem.vue';
import { useReportStore } from '@/stores/reports';
import { ref, computed } from 'vue';

const reportStore = useReportStore();

await reportStore.getList();

const searchQuery = ref('');

const filteredReports = computed(() => {
  let filtered = reportStore.list;

  if (searchQuery.value) {
    const query = searchQuery.value.toLowerCase();
    filtered = filtered.filter((report) => report.title.toLowerCase().includes(query));
  }

  return filtered;
});

function resetFilters() {
  searchQuery.value = '';
}
</script>
