<template>
  <div class="flex-center flex-col gap-2 justify-between w-full" v-if="speaker">
    <img
      :src="speaker.photo"
      alt="Speaker"
      class="w-[400px] h-[400px] rounded-full"
      v-if="speaker.photo"
    />
    <div class="w-[400px] h-[400px] rounded-full bg-black" v-else />
    <div class="h1">{{ speaker.fullName }}</div>
    <div class="p text-left">{{ speaker.speakerInfo }}</div>
    <div class="w-full grid gap-6 sm:grid-cols-2 lg:grid-cols-2" v-if="speaker.reports?.length">
      <CardItem :report="report" v-for="report in speaker.reports" :key="report.id" />
    </div>
  </div>
  <div v-else>
    <div class="p">Доклада не существует</div>
  </div>
</template>

<script lang="ts" setup>
import { useSpeakerStore } from '@/stores/speakers';
import { ref } from 'vue';
import CardItem from '@/components/reports/CardItem.vue';
import type { SpeakerDetails } from '@/typings';

const props = defineProps({
  id: {
    type: String,
    required: true
  }
});

const speakerStore = useSpeakerStore();

const speaker = ref<SpeakerDetails | null>(null);

try {
  speaker.value = await speakerStore.getItem(props.id);
} catch (error) {
  console.error('Ошибка загрузки докладчика:', error);
}
</script>
