<template>
  <div>
    <div class="py-4 px-4 text-center">
      <h1 class="h1">Архив докладчиков</h1>
    </div>
    <div class="w-full flex flex-col gap-6">
      <div class="flex justify-between items-center gap-2">
        <input
          v-model="searchQuery"
          type="text"
          placeholder="Поиск по заголовку митапа"
          class="input"
        />
        <button @click="resetFilters" class="button text-white">Сбросить фильтры</button>
      </div>
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-2">
        <div v-for="speaker in filteredSpeakers" :key="speaker.id" class="card">
          <div class="flex gap-2">
            <img
              :src="speaker.photo"
              alt="Speaker"
              class="w-[40px] h-[40px] rounded-full"
              v-if="speaker.photo"
            />
            <div class="w-[40px] h-[40px] rounded-full bg-black" v-else />
            <h2 class="h2">{{ speaker.fullName }}</h2>
          </div>

          <p class="p text-left">{{ speaker.speakerInfo }}</p>
          <RouterLink
            class="button mt-2 text-center text-white"
            :to="{ name: 'speakers-details', params: { id: speaker.id } }"
          >
            Подробнее
          </RouterLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useSpeakerStore } from '@/stores/speakers';
import type { SpeakerItem } from '@/typings';
import { ref, computed } from 'vue';

const speakerStore = useSpeakerStore();

await speakerStore.getList();

const searchQuery = ref('');

const filteredSpeakers = computed(() => {
  let filtered: SpeakerItem[] = speakerStore.list;

  if (searchQuery.value) {
    const query = searchQuery.value.toLowerCase();
    filtered = filtered.filter((speaker) => speaker.fullName.toLowerCase().includes(query));
  }

  return filtered;
});

function resetFilters() {
  searchQuery.value = '';
}
</script>
